.todosContainer {
    margin-top: 60px;
    height: 70vh;
    width: 40vw;
    box-shadow: inset 0 0 50px 0 rgba(0, 0, 0, 0.733);
    border: 1px solid #c2c3c1;
    background-color: #f4f4f4;;
    border-radius: 8px;
    border-top: 20px solid rgba(73, 55, 6, 0.897) ;
    border-right: 20px solid rgba(73, 55, 6, 0.856) ;
    border-bottom: 20px solid rgba(73, 55, 6, 0.856) ;
    border-left: 20px solid rgba(73, 55, 6, 0.897) ;
    margin-bottom: 20px;
    position: relative;

.posts{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
}

.heading {
    color: #070606e5;
    text-align: center;
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 15px;
    text-shadow: 2px 2px 2px #8d7d7d85;
    font-weight: 400;
}

.todo {
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.noPosts {
    margin-top: 50px;
    font-style: italic;
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
    text-align: center;
    color: #888;
    font-size: 60px;
    padding: 0 20px 0 20px; 
}

/* 0 to 450px */
@media (max-width: 450px) {
    .todosContainer {
        width: 45vw;
        height: 80vh;
        border-top: 10px solid rgba(73, 55, 6, 0.897) ;
        border-right: 10px solid rgba(73, 55, 6, 0.856) ;
        border-bottom: 10px solid rgba(73, 55, 6, 0.856) ;
        border-left: 10px solid rgba(73, 55, 6, 0.897) ;
        .posts {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(1, 1fr);
        }
    }
    .heading {
        font-size: 22px;
    }
    .noPosts {
        font-size: 26px;
        grid-column: 1 / span 3; 
    }
  }
  
  /* 451 to 741px */
  @media (min-width: 451px) and (max-width: 741px) {
    .todosContainer {
        width: 46vw;
        height: 80vh;
        border-top: 10px solid rgba(73, 55, 6, 0.897) ;
        border-right: 10px solid rgba(73, 55, 6, 0.856) ;
        border-bottom: 10px solid rgba(73, 55, 6, 0.856) ;
        border-left: 10px solid rgba(73, 55, 6, 0.897) ;
        .posts {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(1, 1fr);
        }
    }
    .heading {
        font-size: 40px;
    }
    .noPosts {
        font-size: 32px;
    }
  }
  
  /* 742 to 1100px */
  @media (min-width: 742px) and (max-width: 1200px) {
    .todosContainer {
        width: 45vw;
        height: 75vh;
        border-top: 10px solid rgba(73, 55, 6, 0.897) ;
        border-right: 10px solid rgba(73, 55, 6, 0.856) ;
        border-bottom: 10px solid rgba(73, 55, 6, 0.856) ;
        border-left: 10px solid rgba(73, 55, 6, 0.897) ;
        .posts {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    }
    .heading {
        font-size: 50px;
    }
    .noPosts {
        font-size: 40px;
    }
  }
  
  /* 1101 to 2500px */
  @media (min-width: 1201px) and (max-width: 1900px) {
    .todosContainer {
        margin-top: 30px;
        width: 48vw;
        height: 75vh;
        border-top: 20px solid rgba(73, 55, 6, 0.897) ;
        border-right: 20px solid rgba(73, 55, 6, 0.856) ;
        border-bottom: 20px solid rgba(73, 55, 6, 0.856) ;
        border-left: 20px solid rgba(73, 55, 6, 0.897) ;
        .posts {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(1, 1fr);
        }
    }
    .heading {
        font-size: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .noPosts {
        font-size: 60px;
    }
  }
