.heading {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #262726;
  font-size: 60px;
  background-color: #f4f4f4;
  box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.541);
  border: 5px solid #7d7e7bc5;
  min-width: 300px;
  max-width: 300px;
  border-radius: 2px;
}