.todo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 8px 10px 8px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.582);
  background-color: #ddce02;
  margin: 10px;
  max-height: 200px;
  min-height: 200px;
  max-width: 200px;
  min-width: 200px;
  .pencil {
    position: absolute;
    bottom: 10px;
    right: 15px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
  .trash {
    position: absolute;
    height: 30px;
    width: 30px;
    bottom: 10px;
    left: 15px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
  .heading {
    height: 70px;
    text-align: center;
    font-size: 26px;
    margin: 0;
    padding: 5px 5px 10px 5px;
    color: #000000;
  }
  .content {
    font-size: 22px;
    margin: 0;
    margin-bottom: 35px;
    padding: 0 10px 10px 10px;
    color: #000000;
    flex: 1;
    text-align: center;
    overflow-y: auto;
    scrollbar-color: #000000c4 #f4f4f400 ;
    scrollbar-width: thin;
  }
}

/* 0 to 450px */
@media (max-width: 450px) {
  .todo {
    max-width: 150px;
    min-width: 150px;
    max-height: 150px;
    min-height: 150px;
    .heading {
      font-size: 22px;
    }
  }

  .content {
  display: none;  
  }
  .pencil {
    height: 10px;
    width: 10px;
  }
  .trash {
    height: 10px;
    width: 10px;
  }
}

/* 451 to 741px */
@media (min-width: 451px) and (max-width: 741px) {
  .todo {
    max-width: 150px;
    min-width: 150px;
    max-height: 150px;
    min-height: 150px;
    .heading {
      font-size: 22px;
    }
  }
  .content {
    display: none;
  }
  .pencil {
    height: 10px;
    width: 10px;
  }
  .trash {
    height: 10px;
    width: 10px;
  }
}

/* 742 to 1100px */
@media (min-width: 742px) and (max-width: 1200px) {
  .todo {
    max-width: 140px;
    min-width: 140px;
    max-height: 140px;
    min-height: 140px;
    .heading {
      font-size: 22px;
    }
  }
  .content {
    display: none;
  }
  .pencil {
    height: 10px;
    width: 10px;
  }
  .trash {
    height: 10px;
    width: 10px;
  }
}

/* 1101 to 2500px */
@media (min-width: 1201px) and (max-width: 1900px) {
  .todo {
    max-width: 160px;
    min-width: 160px;
    max-height: 160px;
    min-height: 160px;
    .heading {
      font-size: 22px;
    }
  }
  .pencil {
    height: 10px;
    width: 10px;
  }
  .trash {
    height: 10px;
    width: 10px;
  }
}
